@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    /* Light mode */
    --primary-blue: #0079FF;
    --light-bg: #F6F8FF;
    --light-container-bg: #FFFFFF;
    --light-text: #697C9A;
    --light-placeholder-links: #4B6A9B;
    --light-headings: #2B3442;
    --light-toggle-icon: url('./assets/icon-moon.svg');
    --light-toggle-text: 'DARK';

    /* Dark mode */
    --dark-bg: #141D2F;
    --dark-container-bg: #1E2A47;
    --dark-text: #FFFFFF;
    --dark-placeholder-links: #FFFFFF;
    --dark-headings: #FFFFFF;
    --dark-toggle-icon: url('./assets/icon-sun.svg');
    --dark-toggle-text: 'LIGHT';

    /* Default mode */
    --bg-color: var(--light-bg);
    --container-bg: var(--light-container-bg);
    --text-color: var(--light-text);
    --placeholder-links-color: var(--light-placeholder-links);
    --heading-color: var(--light-headings);
    --toggle-icon: var(--light-toggle-icon);
    --toggle-text: var(--light-toggle-text);
}

#page.dark .contacts a img,
#page.dark .theme--btn img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(104%) contrast(105%);
}

* {
    font-family: 'Space Mono', monospace;
}

html {
    box-sizing: border-box;
    background-color: var(--bg-color);
}

body {
    text-align: -webkit-center;
    margin: 11rem 0;
    width: 100%;
    background-color: var(--bg-color);
}

body .toggle--switch:checked {
    background-color: var(--dark-bg);
}

#page {
    display: flex;
    flex-direction: column;
    gap: 23px;
    max-width: 730px;
    font-size: 15px;
    line-height: 25px;
    background-color: var(--bg-color);
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.title {
    justify-self: flex-start;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: var(--heading-color);
}

#theme--btn {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.toggle--content {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: inherit;
    outline: none;
    border: none;
    justify-self: end;
}

.toggle--content::before {
    content: var(--toggle-text);
}

.toggle--content::after {
    content: var(--toggle-icon);
    position: relative;
    top: 5px;
}

.toggle--switch:checked~#page {
    --bg-color: var(--dark-bg);
    --container-bg: var(--dark-container-bg);
    --text-color: var(--dark-text);
    --placeholder-links-color: var(--dark-placeholder-links);
    --heading-color: var(--dark-headings);
    --toggle-icon: var(--dark-toggle-icon);
    --toggle-text: var(--dark-toggle-text);
}


.search--box--container {
    width: 100%;
    height: 69px;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    align-content: center;
    background-color: var(--container-bg);
    box-shadow: 0px 25px 10px -10px rgb(105 124 154 / 8%);
    border-radius: 12px;
    font-size: 25px;
}

.search--box--container:hover,
.search--user:hover {
    cursor: pointer;
}

.search--icon {
    padding: 15px 28px;
}

.search--user {
    border: none;
    font-size: 19px;
    color: var(--heading-color);
    background-color: inherit;
}

.search--user:focus-visible {
    outline: none;
}

.search--user::placeholder {
    color: var(--placeholder-links-color);
}

.error {
    color: var(--container-bg);
    /* TODO: set the color to white and when no results - show in red(#F74646) color*/
    font-size: 15px;
    font-weight: bold;
}

.search--btn {
    margin: 0 10px;
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    background-color: var(--primary-blue);
    color: #FFFFFF;
}

.search--btn:hover {
    background-color: #60ABFF;
}

.user--profile {
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "top""bottom"; */
    display: flex;
    flex-direction: column;
    background-color: var(--container-bg);
    box-shadow: 0px 25px 10px -10px rgb(105 124 154 / 8%);
    border-radius: 12px;
    padding: 40px;
    color: var(--text-color);
}

.profile--picture {
    grid-area: picture;
    justify-self: center;
}

.profile--picture img {
    width: 117px;
    border-radius: 75px;
}

.top {
    display: grid;
    grid: 3fr 4fr 7fr / 1fr 3fr;
    grid-template-areas: "picture details""picture details""picture bio";
    text-align: start;
}

.details {
    grid-area: details;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    grid-template-areas: "username joined""tagname none";
    align-items: baseline;
}

.username {
    grid-area: username;
    font-weight: bold;
    font-size: 26px;
    color: var(--heading-color);
    margin-bottom: 0;
    margin-top: 0;
}

.tagname {
    grid-area: tagname;
    color: var(--primary-blue);
}

.joined {
    grid-area: joined;
    text-align: end;
    align-self: baseline;
}

.bio {
    grid-area: bio;
    margin-top: 0;
}

.bottom {
    display: grid;
    grid: 1fr 1fr / 1fr 3fr;
    grid-template-areas: "none statistics""none contacts";
    row-gap: 30px;
}

.statistics {
    grid-area: statistics;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 13px;
    text-align: left;
}

.statistics h2 {
    font-size: 22px;
    font-weight: bold;
    color: var(--heading-color);
    margin-top: 5px;
}

.contacts {
    grid-area: contacts;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    justify-items: start;
    align-items: baseline;
}

.contacts a {
    text-decoration: none;
    color: var(--placeholder-links-color);
    column-gap: 10%;
}

.contacts a img {
    margin: -3px 8px -3px 0;
}

.not--available {
    opacity: 50%;
}

/*------------ MEDIA QUERIES ------------*/